body {
  margin: 0;
  padding: 0;}
 {font-family: 'Anton', sans-serif;
}


.logo {
  float: left;



}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 200px;
}

.navigation-bar {
  background-color:#990000;
  height: 70px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0.5px;
  margin: 0.5px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding:5px;
  height: 100px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: inline;
}

.navigation-bar li a {
  color:white;
  font-size: 16px;
font-family: 'Supermercado One', cursive;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}